@import "./vars";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 10px;
  color: $primary_color;
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .lan{
      i{
        font-size: 30px;
        color: $primary_color;
      }
    }
    .profil {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50px;
        margin: 10px;
      }
    }
    .Notification {
      position: relative;
      i {
        font-size: 30px;
        color: $primary_color;
      }
    }
  }
}

@media(max-width:900px){
  .header{
    .barMenu{
    }
  }
}

